# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\个人\大学文件\LeoCar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
